<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.equipment.system.mapper.SysDetectionMapper">

    <resultMap id="BaseResultMap" type="com.equipment.model.system.SysDetection">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="employeeCode" column="employee_code" jdbcType="CHAR"/>
            <result property="taskCode" column="task_code" jdbcType="VARCHAR"/>
            <result property="startDate" column="start_date" jdbcType="DATE"/>
            <result property="detectionLocation" column="detection_location" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,employee_code,task_code,
        start_date,detection_location,
        is_deleted,create_time,update_time
    </sql>
</mapper>
