<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.system.mapper.SysEquipmentTransferMapper">

    <resultMap id="SysEquipmentTransferMap" type="com.atguigu.system.entity.SysEquipmentTransfer" autoMapping="true"></resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        id,old_task_id,new_task_id,equipment_id,deliver_employee_id,receiver_employee_id,transfer_time,transfer_location,transfer_type,remarks
    </sql>

    <select id="selectPage" resultMap="SysEquipmentTransferMap">
        select <include refid="columns" />
        from sys_equipment_transfer
        <where>
            <if test="vo.keyword != null and vo.keyword != ''">
                and (old_task_id like CONCAT('%',#{vo.keyword},'%') or  new_task_id like CONCAT('%',#{vo.keyword},'%') or equipment_id like CONCAT('%',#{vo.keyword},'%'))
            </if>
            <if test="vo.startTime != null and vo.startTime != ''">
                and transfer_time >= #{vo.startTime}
            </if>
            <if test="vo.endTime != null and vo.endTime != ''">
                and transfer_time &lt;= #{vo.endTime}
            </if>
        </where>
        order by id desc
    </select>

</mapper>
