<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.system.mapper.SysEquipmentUseMapper">

    <resultMap id="SysEquipmentUseMap" type="com.atguigu.system.entity.SysEquipmentUse" autoMapping="true"></resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        id,equipment_name,equipment_id,task_id,equipment_use_time,employee_use_name,location,pre_use_equipment_status,maintenance_status
    </sql>

    <select id="selectPage" resultMap="SysEquipmentUseMap">
        select <include refid="columns" />
        from sys_equipment_use
        <where>
            <if test="vo.keyword != null and vo.keyword != ''">
                and (equipment_name like CONCAT('%',#{vo.keyword},'%') or  equipment_id like CONCAT('%',#{vo.keyword},'%') or task_id like CONCAT('%',#{vo.keyword},'%'))
            </if>
            <if test="vo.startTime != null and vo.startTime != ''">
                and equipment_use_time >= #{vo.startTime}
            </if>
            <if test="vo.endTime != null and vo.endTime != ''">
                and equipment_use_time &lt;= #{vo.endTime}
            </if>
        </where>
        order by id desc
    </select>

</mapper>
