<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.equipment.system.mapper.SysEquipmentMaintenanceMapper">

    <resultMap id="BaseResultMap" type="com.equipment.model.system.SysEquipmentMaintenance">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="employeeCode" column="employee_code" jdbcType="VARCHAR"/>
            <result property="equipmentCode" column="equipment_code" jdbcType="VARCHAR"/>
            <result property="maintenanceDate" column="maintenance_date" jdbcType="DATE"/>
            <result property="beforeUseStatus" column="before_use_status" jdbcType="VARCHAR"/>
            <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
            <result property="maintenanceStatus" column="maintenance_status" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,employee_code,equipment_code,
        maintenance_date,before_use_status,remarks,
        maintenance_status,is_deleted,create_time,
        update_time
    </sql>
</mapper>
