<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.equipment.system.mapper.SysEquipmentMapper">


    <resultMap id="SysEquipMap" type="com.equipment.model.system.SysEquipment" autoMapping="true"></resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        id,equipment_code,equipment_name
    </sql>

    <select id="selectPage" resultMap="SysEquipMap">
        select <include refid="columns" />
        from sys_equipment
        <where>
            <if test="vo.keyword != null and vo.keyword != ''">
                and (equipment_code like CONCAT('%',#{vo.keyword},'%') or  equipment_name like CONCAT('%',#{vo.keyword},'%'))
            </if>
        </where>
        order by id desc
    </select>

</mapper>
