<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.equipment.system.mapper.SysEquipmentIntakeMapper">

    <resultMap id="SysEquipmentIntakeMap" type="com.equipment.model.system.SysEquipmentIntake" autoMapping="true"></resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        id,task_id,equipment_id,intake_time,employee_intake_name,task_id,remarks,equipment_name,warehouse_manager_name
    </sql>

    <select id="selectPage" resultMap="SysEquipmentIntakeMap">
        select <include refid="columns" />
        from sys_equipment_intake
        <where>
            <if test="vo.keyword != null and vo.keyword != ''">
                and (equipment_name like CONCAT('%',#{vo.keyword},'%') or  equipment_id like CONCAT('%',#{vo.keyword},'%') or task_id like CONCAT('%',#{vo.keyword},'%'))
            </if>
            <if test="vo.startTime != null and vo.startTime != ''">
                and intake_time >= #{vo.startTime}
            </if>
            <if test="vo.endTime != null and vo.endTime != ''">
                and intake_time &lt;= #{vo.endTime}
            </if>
        </where>
        order by id desc
    </select>


</mapper>
