<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.equipment.system.mapper.SysUserMapper">

    <resultMap id="BaseResultMap" type="com.equipment.model.system.SysUser">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userCode" column="user_code" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_code,password,
        user_name,phone,description,
        status,create_time,update_time,
        is_deleted
    </sql>

    <select id="getUserListByRoleName" resultMap="BaseResultMap">
        select * from sys_user u
                          inner join sys_user_role ur on ur.user_id = u.id
                          inner join sys_role r on r.id = ur.role_id
        where
            r.role_name = #{roleName}
          and u.is_deleted = 0
          and ur.is_deleted = 0
          and r.is_deleted = 0
        order by convert(u.user_name using gbk) asc;
    </select>

</mapper>
