<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.equipment.system.mapper.SysUserCertificateMapper">

    <resultMap id="BaseResultMap" type="com.equipment.model.system.SysUserCertificate">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="user_id" column="user_id" jdbcType="BIGINT"/>
            <result property="class_id" column="class_id" jdbcType="BIGINT"/>
            <result property="certificate_number" column="certificate_number" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="is_deleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="is_unique" column="is_unique" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,class_id,
        certificate_number,create_time,update_time,
        is_deleted,is_unique
    </sql>
</mapper>
