<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.equipment.system.mapper.ViewTaskUserEquipQueryMapper">

    <resultMap id="BaseResultMap" type="com.equipment.model.view.ViewTaskUserEquipQuery">
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="employeeCode" column="employee_code" jdbcType="VARCHAR"/>
            <result property="taskCode" column="task_code" jdbcType="VARCHAR"/>
            <result property="equipmentCode" column="equipment_code" jdbcType="VARCHAR"/>
            <result property="isAdditional" column="is_additional" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_name,employee_code,task_code,
        equipment_code,is_additional
    </sql>

<!--    <resultMap id="userDeviceMap" type="com.equipment.model.view.ViewTaskUserEquipQuery" ></resultMap>-->
<!--    <select id="SearchUserByTaskCode" resultMap="userDeviceMap">-->
<!--        SELECT v.user_name, v.employee_code, v.equipment_code, v.task_code, v.is_additional-->
<!--        FROM view_task_user_equip_query v-->
<!--        <where>-->
<!--            <if test="sysTaskDeviceQuery.keyword != null and sysTaskDeviceQuery.keyword != ''">-->
<!--               AND (v.task_code = #{sysTaskDeviceQuery.keyword})-->
<!--            </if>-->
<!--        </where>-->
<!--    </select>-->

    <resultMap id="ViewTaskUserEquipQueryMap" type="com.equipment.model.view.ViewTaskUserEquipQuery">
        <result property="userName" column="user_name"/>
        <result property="employeeCode" column="user_code"/>
        <result property="title" column="title"/>
        <result property="taskCode" column="task_code"/>
        <result property="isAdditional" column="is_additional"/>
        <result property="certificatesJson" column="certificatesJson"/>
    </resultMap>
    <select id="SearchUserByTaskCode" resultMap="ViewTaskUserEquipQueryMap">
        SELECT
            u.user_name         AS user_name,
            u.user_code         AS user_code,
            u.title             AS title,
            d.task_code         AS task_code,
            d.is_additional     AS is_additional,
        COALESCE(
            CONCAT('[',
                GROUP_CONCAT(
                    DISTINCT JSON_OBJECT(
                        'certificateName', scc.name,
                        'certificateNumber', suc.certificate_number
                    )
                ),
            ']'),
        '[]') AS certificatesJson
        FROM
            sys_detection d
        JOIN
            sys_user u ON d.employee_code = u.user_code
        LEFT JOIN
            sys_user_certificate suc ON u.id = suc.user_id
        LEFT JOIN
            sys_certificate_class scc ON suc.class_id = scc.id
        <where>
            d.is_deleted = 0
            <if test="sysTaskDeviceQueryVo.keyword != null and sysTaskDeviceQueryVo.keyword != ''">
                AND d.task_code = #{sysTaskDeviceQueryVo.keyword}
            </if>
        </where>
        GROUP BY
            u.id, u.user_name, u.user_code, d.task_code, d.is_additional
    </select>

    <resultMap id="DeviceMap" type="com.equipment.model.vo.FindEquipByTaskCode" >
        <result property="equipmentName" column="equipment_name"/>
        <result property="equipmentCode" column="equipment_code"/>
        <result property="taskCode" column="task_code"/>
        <result property="isAdditional" column="is_additional"/>
        <result property="specification" column="specification"/>
    </resultMap>
    <select id="SearchEquipByTask" resultMap="DeviceMap">
        SELECT DISTINCT  e.equipment_name,e.equipment_code,u.task_code, u.is_additional, e.specification
        FROM sys_equipment_use u
        JOIN sys_equipment e on u.equipment_code = e.equipment_code
        <where>
            u.is_deleted = 0
            <if test="sysTaskDeviceQueryVo.keyword != null and sysTaskDeviceQueryVo.keyword != ''">
                and u.task_code = #{sysTaskDeviceQueryVo.keyword}
            </if>
        </where>
    </select>

    <resultMap id="DataRangeResultMap" type="com.equipment.model.query.TaskDateRangeQuery">
        <result property="taskStartDate" column="task_start_date" jdbcType="DATE"/>
        <result property="taskEndDate" column="task_end_date" jdbcType="DATE"/>
    </resultMap>
    <select id="SearchDateRangeByTaskCode" resultMap="DataRangeResultMap">
        SELECT
            MIN(start_date) AS task_start_date,
            MAX(start_date) AS task_end_date
        FROM
            sys_detection d
        <where>
            is_deleted = 0
            <if test="sysTaskDeviceQueryVo.keyword != null and sysTaskDeviceQueryVo.keyword != ''">
                AND task_code = #{sysTaskDeviceQueryVo.keyword}
            </if>
        </where>
    </select>
</mapper>
