<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.equipment.system.mapper.ViewTaskUserEquipQueryMapper">

    <resultMap id="BaseResultMap" type="com.equipment.model.view.ViewTaskUserEquipQuery">
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="employeeCode" column="employee_code" jdbcType="VARCHAR"/>
            <result property="taskCode" column="task_code" jdbcType="VARCHAR"/>
            <result property="equipmentCode" column="equipment_code" jdbcType="VARCHAR"/>
            <result property="isAdditional" column="is_additional" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_name,employee_code,task_code,
        equipment_code,is_additional
    </sql>

    <resultMap id="userDeviceMap" type="com.equipment.model.view.ViewTaskUserEquipQuery" ></resultMap>
    <select id="SearchUserDeviceByTaskcode" resultMap="userDeviceMap">
        SELECT user_name, employee_code,equipment_code,is_additional
        FROM view_task_user_equip_query
        <where>
            <if test="sysTaskDeviceQueryVo.keyword != null and sysTaskDeviceQueryVo.keyword != ''">
                and (task_code = #{sysTaskDeviceQueryVo.keyword})
            </if>
        </where>
    </select>
</mapper>
